.article {
    width: 100%;
    padding: 5% 0 22px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-w-pure);
    position: relative;
    user-select: none;
}

.articleItem {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.articleItem img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.articleContent {
    display: flex;
    flex-direction: column;
}

.articleContent h1 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}

.articleContent p {
    font-size: 1rem;
    color: #555;
}

@media screen and (max-width: 1000px) {
    .archive_content {
        width: 85%;
    }
}

@media screen and (max-width: 800px) {
    .archive_content {
        width: 100%;
    }
}